<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>RESTAURANTE SARITA</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

<link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}">	
	</div>
	
	<div th:include="usuario/template_usuario.html::header-user" th:unless="${sesion==null}"> </div>

	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-4">
			<h1 class="display-3" align="center">Metodos de Pago</h1>
		</header>

		<h1 class="mt-4 mb-3" align="left">
        Yape:<small></small>
      	</h1>
      	
      	<center> <img class="" width="400" height="500" src="/images/yapepago.jpeg"> </center>
      	
      	<h1 class="mt-4 mb-3" align="left">
        Plin:<small></small>
      	</h1>
      	
      	<center> <img width="500" height="500" src="/images/plinpago.jpeg"> </center>
	<!-- /.container -->
	</div>
	<!-- Footer -->
	<div th:include="usuario/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>