<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>RESTAURANTE SARITA</title>


<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

<link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}">Restaurante Sarita</a>

				<!--<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Buscar" aria-label="Search" name="nombre"
						autocomplete="off">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
				</form>-->


				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" th:href="@{/getCart}">Carrito</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/usuario/login}">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
	
	
	<!-- Navigation -->
<div th:fragment="header-user">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Restaurante Sarita</a>

			<!--<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/search}">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Buscar" aria-label="Search" name="nombre"
					autocomplete="off">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>-->


			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Usuario </a>
							
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/usuario/compras}">Compras</a>
								<a class="dropdown-item" th:href="@{/getCart}">Carrito</a> 
								<a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a> 
							</div></li>
				</ul>
			</div>
		</div>
	</nav>

</div>


	<!-- Footer -->
	<div th:fragment="footer">
		<footer class="footer py-5 bg-dark">
    <div class="container ">
        <div class="row">
            <div class="col-lg-3  col-md-3 col-sm-6 text-white">
                <div class="footer__widget">
                <h5 class="text-white" >Servicio al cliente:</h5>
                    <ul>
                        <li><a class="text-white" th:href="@{/usuario/registro}">Registrate</a></li>
                        	<li><a class="text-white" th:href="@{/usuario/metodo}">Metodos de Pago</a></li>
                    </ul>


                </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 text-white">
                <div class="footer__widget">
                	<h5 class="text-white" >Información:</h5>
                    <ul>
                        <li><a class="text-white" >Whatsapp: 918 994 758</a></li>
                        <li><a class="text-white" >Dirección: Cl. José Sabogal # 120, Urb. Lucyana - Carabayllo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                <a class="text-white">_______________________________________________________________________________________________</a>
					<p class="m-0 text-center text-white">Copyright &copy; Todos
					los derechos reservados 2023</p>
                </div>
            </div>
        </div>
    </div>
</footer>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
